In [ ]:
/*
Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index
Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
Use python f string for this.
I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.
*/

In [5]:
street = 'street'
city = 'city'
country = 'country'

address = street + '\n' + city + '\n' + country
print(address)
address = f'{street}\n{city}\n{country}'
print(address)

street
city
country
street
city
country

In [19]:
s = "Earth revolves around the sun"
print(s[6:14])

revolves

In [20]:
print(s[-3:])

sun

In [15]:
fruits = 2
vegetables = 3
print(f'I eat {vegetables} veggies and {fruits} fruits daily')

I eat 3 veggies and 2 fruits daily

In [18]:
s = 'maine 200 banana khaye'
s = s.replace('200 banana', '20 samosa')
print(s)

maine 20 samosa khaye